.App {
  margin-top: 40px;
}
:root {
  background-color: #222;
  color: white;
}

tr {
  height: 60px;
}

td:hover {
  background-color: #333;
}

td.row0 {
  background-color: #333;
}
td.column0 {
  background-color: #333;
}
td.data0-0 {
  background-color: #444;
}

.control {
  width: 120px;
  /* height: 30px;
  line-height: 30px; */
}
input,
.control {
  display: inline-block;
  background-color: #333;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: white;
}
label {
  width: 150px;
  display: inline-block;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 20px; */
}
.summary {
  flex: 0 0 550px;
  max-height: 400px;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.summaryNumber {
  height: 28px;
  line-height: 28px;
  width: 100px;
  font-size: large;
  display: inline-block;
  margin-top: 2px;
  padding: 4px;
}
.controls {
  flex: 0 0 350px;
  padding: 20px;
  text-align: center;
  display: inline-block;
}
.modal {
  background-color: #333;
}
