button,
input:not([type=checkbox]) {
  background-color: #201F1E;
  color: white;
  border: rgba(255, 255, 255, 0.4) solid 1px;
  border-radius: 5px;
  transition: filter 0.2s;
  box-sizing: border-box;
  line-height: 1.2;
  cursor: pointer;
  border: none;
  color: inherit;

  display: inline-block;
  background-color: #333;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;

  &:not(.material-symbols-outlined) {
    font-size: inherit;
  }

  text-align: inherit;

  &:not(.no-button-styling):hover {
    filter: brightness(140%);
  }
}

.printable .main-grid {
  background-color: white;
}

button {
  padding: 2px 24px;
  margin-right: 8px;
}

input:where([type=checkbox]) {
  margin: 4px 4px;
}



.App {
  margin-top: 40px;
}

:root {
  background-color: #222;
  color: white;
}

tr {
  height: 60px;
}

.notBlind td:hover {
  background-color: #333;
  border-radius: 20px;
}




.wrapper {
  display: flex;
  justify-content: flex-start;
  /* margin-top: 20px; */
}

.summary {
  flex: 0 0 550px;
  max-height: 400px;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.summaryNumber {
  height: 28px;
  line-height: 28px;
  width: 100px;
  font-size: large;
  display: inline-block;
  margin-top: 2px;
  padding: 4px;
}

.controls {
  flex: 0 0 350px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

.modal {
  background-color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media print {
  @page {
    size: landscape;
    margin: 0cm;
  }

  .line {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #616161;
  /* This removes the blue and sets your color */
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  border: none;
}